div(block='customer')
    div(elem='wrap')
        div(elem='form')
            #{SearchForm}
        h1(elem='title')
            span(showText) Customers

    div(elem='table')
        #{Table}

    div(elem='pager')
        #{Pager}