/* colors scheme */
$brand-primary: #cc0000;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base:    "Gotham SSm A", "Gotham SSm B", sans-serif;
$body-bg:             #edf0f2;
$body-color:          #525e66;
$font-size-base:      14px;
$line-height-base:    1.285;