.className {
  color: green;
  background: red;
}

.otherClassName {
  color: yellow;
  &__cat{
    background: blue;

    &_size{
      font-size: 24px;

      &-big{
        font-size: 48px;
      }
    }

    &_color-pink {
      color: pink;
    }
  }

  &_size{
    &-big{
      font-size: 70px;
    }
  }
}

.liText {
  color: green;
}