ul(block='pager')

    li(elem='item')
        a(elem='link' href='#')
            span(showText) Previous
    li(elem='item')
        a(elem='link' href='#')
            span(showText) 1
    li(elem='item' mod={active: true})
        a(elem='link' href='#')
            span(showText) 2
    li(elem='item')
        a(elem='link' href='#')
            span(showText) 3
    li(elem='item')
        a(elem='link' href='#')
            span(showText) 4
    li(elem='item')
        a(elem='link' href='#')
            span(showText) 5
    li(elem='item')
        a(elem='link' href='#')
            span(showText) ...
    li(elem='item')
        a(elem='link' href='#')
            span(showText) 17
    li(elem='item')
        a(elem='link' href='#')
            span(showText) Next
