div(block='search-result')
    div(elem='title')
        span(showText) Search for
            strong= ' "perso"'
    div(elem='wrap')
        div(elem='modifiers')
            span(showText) Modifiers
        #{List}