div(block='profile')
    div(elem='name')
        span(showText) Leeroy Jenkins
        span(elem='arrow')
            img(src='Static/images/ico-arrow-down.png' showText)
    div(elem='bell' mod={active:true})
        img(src='Static/images/ico-bell.png' showText)